# Laravel cache (VERY IMPORTANT)
bootstrap/cache/*
!bootstrap/cache/.gitignore

storage/framework/*
storage/logs/*
!storage/framework/.gitignore

# Node (if any)
node_modules/

# Env file (never push secrets)
.env