# Laravel cache
bootstrap/cache/*
!bootstrap/cache/.gitignore

storage/framework/*
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/framework/.gitignore

storage/logs/*

# Node
node_modules/

# Env
.env